
header {
    background-image: none;
    background-color: #8076a300;
}
/* 字体 */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");

body {
    height: 100vh;
    background-color: rgba(95, 158, 160, 0);
    background-image: url('./img/about.jpg');
    background-size: cover;
    background-position: center;
    border-color: #000000;
    line-height: 1.5;
    color: #000000;
    font-family: "Caveat", sans-serif;
}
section#hero {
    height: calc(100vh - 132px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}