div.content {
    width: 100%;
    max-width: 680px;
    flex: 1 1;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 4rem auto;
}
section h2.chapter {
    color: #870ad5;
    letter-spacing: 0.01em;
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: block;
}
