
{% extends "base.html" %}
{% load static %}

{% block title %}
    KP's Blog
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock %}

{% block nav_home_activate %}active{% endblock %}

{% block content %}
<main>
    <section id="hero">
        <div class="content">
            <h1>Free Floating</h1>
            <p>有两种东西，我对它们的思考越是深沉，它们在我心中唤起的惊奇和敬畏就越历久弥新，<br>
                一个是头顶浩瀚的星空，另一个是心中的道德法则。
            </p>
        </div>
    </section>
</main>
{% endblock %}