{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- 引入monikai.css -->
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
    <script type="text/javascript" src="{% static 'jquery-3.5.1.slim.min.js' %}" ></script>
    {% block header_extends %}{% endblock %}
  </head>

  <body>
    <!-- 导航栏 -->
    <header>
      <div class="navbar">
        <div class="baselogo"><a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a></div>
        <ul class="links">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'writings' %}">Writing</a></li>
          <li><a href="{% url 'words' %}">Word</a></li>
          <li><a href="{% url 'sentences' %}">Sentence</a></li>
        </ul>
        <a href="{% url 'index' %}" class="action_btn">STARTED</a>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
  
      <div class="dropdown_menu">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'writings' %}">Writing</a></li>
          <li><a href="{% url 'words' %}">Word</a></li>
          <li><a href="{% url 'sentences' %}">Sentence</a></li>
          <li><a href="{% url 'index' %}" class="action_btn">STARTED</a></li>
      </div>
  
      <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')
  
        toggleBtn.onclick = function () {
          dropDownMenu.classList.toggle('open')
          const isOpen = dropDownMenu.classlist.contains('open')
  
          toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
      </script>
    </header>

    {% block content %}{% endblock %}

    <!-- 尾部 -->
    <footer id="footer" class="footer">
      <!-- <div>Copyright © 023 KP</div> -->
      <div>
        <a href="http://beian.miit.gov.cn/" style="font-size: 12px; color: black;">赣ICP备2023004404号</a>
      </div>
    </footer>
  </body>
</html>
