
{% extends "base.html" %}
{% load static %}

{% block title %}
    KP's Blog
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block nav_home_activate %}active{% endblock %}

{% block content %}
<main>
    <section id="hero">
        <div class="content">
            <h1></h1>
            <p>1984年，美国宇航员 Bruce McCandless 为测试「机动载人装置」，<br>走出「挑战者号」宇宙飞船，成为第一位脱离航天器在太空中行走的宇航员。</p> 
            <p>NASA 将这张照片命名为「Free Floating」</p>
        </div>
    </section>
</main>
<footer id="footer" class="footer">
    <!-- <div>Copyright © 023 KP</div> -->
    <div>
        <a href="http://beian.miit.gov.cn/" style="font-size: 12px; color: black;">赣ICP备2023004404号</a>
    </div>
</footer>
{% endblock %}