
{% extends "base.html" %}
{% load static %}

{% block title %}
    KP's Blog
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block nav_home_activate %}active{% endblock %}

{% block content %}
<main>
    <section id="hero">
        <div class="content">
            <h1>Free Floating</h1>
            <!-- <p>
                Astronaut Bruce McCandless is seen floating above Earth. <br>
                He is farther away from the safety of his spaceship than any astronaut had ever been. <br>
                https://www.moneycontrol.com/news/trends/most-terrifying-space-photograph-astronaut-floats-away-from-space-shuttle-untethered-8719061.html
            </p> -->
            <p>1984年，美国宇航员 Bruce McCandless 为测试「机动载人装置」，<br>走出「挑战者号」宇宙飞船，成为第一位脱离航天器在太空中行走的宇航员。
            </p> 
            <p>NASA 将这张照片命名为「Free Floating」</p>
        </div>
    </section>
</main>
{% endblock %}