{% extends "base.html" %}
{% load static %}

{% block title %}
    KP's Blog
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block nav_home_activate %}active{% endblock %}

{% block content %}
<div style="display: flex">
    <div class="content">
        <h1 class="logo">KP's Site</h1>
        <p class="no-margin" style="margin-top: 15px;"><b>文字還能傳達多少效用？</b></p>
        <p class="no-margin" style="margin-bottom: 0px;"><b>銳利的矛，刺痛麻木的<span style="font-size: 2rem; color: #d21010;">腦</span></b></p>
        <section id="writings">
            <a href="{% url 'writings' %}" style="text-decoration: none;">
                <h2 class="chapter-2">Writings</h2>
            </a>
            <p class="no-margin" style="color: #07c160; margin-bottom: 15px;"><b>潦倒不通事務，愚頑怕讀文章。</b></p>
            <ul style="padding: 0px; list-style: none;">                
                {% for article in articles_all %}
                    {% if article.article_type_id == 2 %}
                        {% if article.is_deleted == False %}
                            <li style="display: flex; margin-bottom: 12px;">
                                <div style="display: block; font-style: italic; font-size: 15px; min-width: 100px; margin-right: 16px;">
                                    <time>{{ article.created|date:"Y-m-d" }}</time>
                                </div>
                                <span>
                                    <a class="title-2" href="{% url 'writing_detail' article.pk %}">{{ article.title }}</a>
                                </span>                                
                            </li>
                        {% endif %}
                    {% endif %}
                {% empty %}
                    <li>{{ Empty }}</li>
                {% endfor %}
            </ul>
        </section>
        <section id="words">
            <a href="{% url 'words' %}" style="text-decoration: none;">
                <h2 class="capter-3">Words</h2>                
            </a>
            <p class="no-margin" style="color: #870ad5; margin-bottom: 15px;"><b>滿紙自憐提素怨，片言誰解訴秋心。</b></p>
            <ul style="padding: 0px; list-style: none;">
                {% for word in words_all %}
                    <li style="display: flex; margin-bottom: 12px;">
                        <span>
                            <strong>
                                <a class="title-3" href="#" onclick="return false"># {{ word.word_title }}</a>                                
                            </strong>
                            <!-- {{ word.word_detail|slice:":80" }}...... -->
                            &nbsp;&nbsp;&nbsp;{{ word.word_detail|safe }}
                        </span>
                    </li>
                {% empty %}
                    <li>{{ Empty }}</li>
                {% endfor %}
                <li style="display: flex; margin-bottom: 12px;">
                    <span>
                        <a class="title-3" href="{% url 'words' %}">未完待续 ……</a>
                    </span>
                </li>                
            </ul>
        </section>
        <section id="sentences">
            <a href="{% url 'sentences' %}" style="text-decoration: none;">
                <h2 class="capter-4">Sentences</h2>
            </a>
            <p class="no-margin" style="color: #d21010; margin-bottom: 15px;"><b>早知日後爭閑氣，豈肯今朝錯讀書。</b></p>
            <ul style="padding: 0px; list-style: none;">                
                {% for sentence in sentences_all %}
                    <li style="display: flex; margin-bottom: 12px;">
                        <span>
                            <a class="title-4" href="#" onclick="return false">{{ sentence|safe }}</a>
                        </span>
                    </li>
                {% empty %}
                    <li>{{ Empty }}</li>
                {% endfor %}
                <li style="display: flex; margin-bottom: 12px;">
                    <span>
                        <a class="title-4" href="{% url 'sentences' %}">未完待续 ……</a>
                    </span>
                </li>
            </ul>
        </section>
    </div>
</div>

{% endblock %}
