{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ program.title }} | KP's Blog
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'program_detail.css' %}">
{% endblock %}

{% block nav_home_activate %}active{% endblock %}

{% block content %}
<div class="content">
    <a href="{% url 'programs' %}" style="color: #007bff;">Programs</a>
    <article>
        <header>
            <h1>{{ program.title }}</h1>
            <div>
                <time>{{ program.created }}</time>
            </div>
            <div>
                <div>
                    {% for pro in program.tags.all %}
                        <a href="#" style="margin-right: 8px; display: inline-block;">#{{ pro }}</a>
                    {% empty %}
                        <br>
                    {% endfor %}
                </div>
            </div>
        </header>
        <ul style="padding: 0px; list-style: none;">
            <li style="display: flex; margin-bottom: 12px;">                
                <div>
                    {{ program.content|safe }}
                </div>
            </li>
        </ul>
    </article>
</div>
{% endblock %}
