{% extends "base.html" %}
{% load static %}

{% block title %}
    Programs | KP's Blog
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'programs.css' %}">
{% endblock %}

{% block nav_home_activate %}active{% endblock %}

{% block content %}
<div style="display: flex">
    <div class="content">
        <a href="{% url 'index' %}" style="text-decoration: none; color: #007bff; font-style: italic;">Home</a>
        <section id="programs">
            <a href="#" style="text-decoration: none;">
                <h2 class="chapter">Programs</h2>
            </a>
            <ul style="padding: 0px; list-style: none;">
                {% for program in programs %}
                    <li style="display: flex; margin-bottom: 12px;">
                        <div style="display: block; font-style: italic; font-size: 15px; min-width: 100px; margin-right: 16px;">
                            <time>{{ program.created|date:"Y-m-d" }}</time>
                        </div>
                        <span>
                            <a class="title" href="#">{{ program.title }}</a>
                        </span>                                
                    </li>
                {% empty %}
                    <li>{{ Empty }}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
{% endblock %}
