{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ program.title }} | KP's Blog
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'program_detail.css' %}">
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'prism.css' %}">
    <link rel="stylesheet" href="{% static 'img.css' %}">
{% endblock %}

{% block nav_home_activate %}active{% endblock %}

{% block content %}
<div class="content">
    <a href="{% url 'programs' %}" style="color: #007bff;">Programs</a>
    <article>
        <header>
            <h1>{{ program.title }}</h1>
            <div>
                <time>{{ program.created }}</time>
            </div>
            <div>
                <div style="font-size: 0.85rem; display: inline;">
                    {% for pro in program.tags.all %}
                        <a href="#" style="color: #333; margin-right: 8px; display: inline-block; text-decoration-color: #a5a5a5; text-decoration-thickness: 2px;">#{{ pro }}</a>
                    {% empty %}
                        <br>
                    {% endfor %}
                </div>
            </div>
        </header>
        <ul style="padding: 0px; list-style: none;">
            <li style="display: flex; margin-bottom: 12px;">                
                <div style="margin-left: 2em; margin-right: 2em;">
                    {{ program.content|safe }}
                </div>
            </li>
        </ul>
    </article>
</div>
{% endblock %}
