{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ writing.title }} | KP's Blog
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'writing_detail.css' %}">
{% endblock %}

{% block nav_home_activate %}active{% endblock %}

{% block content %}
<div class="main">
    <a href="{% url 'writings' %}" style="color: #07c160;">Writings</a>
    <div class="header">
        <h1>{{ writing.title }}</h1>
        <div>
            <time>{{ writing.created }}</time>
        </div>
    </div>         
    <div class="content">
        {{ writing.content|safe }}
    </div>
</div>
{% endblock %}
